{{#if announcement}}
	<div class="announcement">
		{{#if announcement.headline}}<strong>{{{announcement.headline}}}</strong> &mdash;{{/if}}
		{{{announcement.message}}}
	</div>
{{/if}}

{{#if links.length}}
	<div class="cards">
		{{#each links}}
			{{> card this}}
		{{/each}}
	</div>
{{else}}
	<div class="notice">
		Sorry, no links for this day.
	</div>
{{/if}}

{{#if scriptVars.tomorrowCountdown}}
	<div class="countdown tomorrow">
		<i class="fa fa-clock-o"></i> Tomorrow's catch arrives in <span class="time"></span>.
		{{#if sneakPeakLink}}Here's a sneak peak.{{/if}}
	</div>
{{/if}}
{{#if scriptVars.sneakPeakCountdown}}
	<div class="countdown sneak-peak">
		<i class="fa fa-clock-o"></i> Sneak peak at tomorrow's catch in <span class="time"></span>.
	</div>
{{/if}}
{{#if sneakPeakLink}}
	<div class="cards">
		{{> card sneakPeakLink}}
	</div>
{{/if}}
