// breakpoints
$break-1:			"(min-width: 400px)";	// show categories
$break-2:			"(min-width: 600px)";	// inline countdown icon
$break-3:			"(min-width: 800px)";	// larger header, more whitespace, 2 card columns
$break-4:			"(min-width: 1400px)";	// 4 card columns

// colors
$bg-color:			#eee;
$panel-color:		#fff;
$accent-color:		#5f9f9f;
$hover-color:		darken($accent-color, 10%);
$default-color:		#555;
$lighter-color:		#bbb;

// font sizes
$xxl-font:			3.5rem;	// h1 on desktop
$xl-font:			2.4rem;	// h1, nav icons, countdown icon
$l-font:			1.7rem;	// h2, nav, notice, countdown
$m-font:			1.4rem;	// h3, announcement
$s-font:			1rem;	// body

// transitions
$fade-time:			.25s;

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 20px 5%;
	line-height: 1;
	font-family: 'Lato', sans-serif;
	font-size: $s-font;
	color: $default-color;
	background-color: $bg-color;

	@media #{$break-3} {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

a {
	text-decoration: none;
	color: $accent-color;
	transition: color $fade-time;

	&:hover {
		color: $hover-color;
	}
}

h1, h2, h3 {
	margin: 0;
	line-height: 1.2;
	font-weight: normal;
}

h1 {
	font-size: $xl-font;
	text-align: center;

	@media #{$break-3} {
		font-size: $xxl-font;
	}
}

h2 {
	font-size: $l-font;
	font-weight: bold;
}

h3 {
	font-size: $m-font;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;

	& > * {
		white-space: nowrap;
	}

	h2 {
		order: 2;
		flex: none;
	}

	.prev {
		order: 1;
		flex: 1 1 0;
	}

	.next {
		order: 3;
		flex: 1 1 0;
		text-align: right;
	}

	.fa {
		font-size: $xl-font;
	}
}

main {
	margin-top: 20px;
	border-top: dashed 1px $lighter-color;
}

.announcement {
	margin-top: 20px;
	line-height: 1.2;
	text-align: center;
	font-size: $m-font;

	@media #{$break-3} {
		margin-top: 30px;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px -10px -10px;

	@media #{$break-3} {
		margin-top: 20px;
	}

	article {
		flex: 0 1 100%;
		margin: 10px;
		padding: 20px;
		border-top: solid 4px $lighter-color;
		border-radius: 0 0 6px 6px;
		background-color: $panel-color;
		cursor: pointer;
		transition: border-top-color $fade-time;

		@media #{$break-3} {
			flex: 0 1 calc(50% - 20px);
		}

		@media #{$break-4} {
			flex: 0 1 calc(25% - 20px);
		}

		&:hover {
			border-top-color: $default-color;

			.info {
				color: $default-color;
			}

			a {
				color: $accent-color;

				&:hover {
					color: $hover-color;
				}
			}
		}
	}

	.info {
		color: $lighter-color;
		transition: color $fade-time;

		&::after {
			display: block;
			clear: both;
			content: '';
		}

		a {
			color: $lighter-color;
		}
	}

	.fa {
		margin-right: 8px;
		transform: scale(1.3);
		transform-origin: 0;
	}

	.category {
		display: none;

		@media #{$break-1} {
			display: inline;
		}
	}

	.author {
		float: right;
	}

	h3 {
		margin-top: 10px;
		padding-top: 10px;
		border-top: dashed 1px $lighter-color;
	}

	.blurb {
		margin-top: 10px;
		line-height: 1.3;

		a {
			color: $default-color;
		}
	}
}

.notice {
	margin-top: 30px;
	padding: 20px 10px;
	border-radius: 0 0 6px 6px;
	border-radius: 10px;
	line-height: 1.2;
	text-align: center;
	font-size: $l-font;
	background-color: $panel-color;

	@media #{$break-3} {
		margin-top: 40px;
		padding: 40px 10px;
	}
}

.countdown {
	margin-top: 30px;
	line-height: 1.2;
	text-align: center;
	font-size: $l-font;

	@media #{$break-2} {
		& > * {
			vertical-align: middle;
			line-height: .7;
		}
	}

	@media #{$break-3} {
		margin-top: 40px;
	}

	.fa {
		display: block;
		font-size: $xl-font;

		@media #{$break-2} {
			display: inline;
			margin-right: 6px;
		}
	}

	.time {
		font-weight: bold;
	}
}

footer {
	margin-top: 60px;
	padding-top: 20px;
	border-top: dashed 1px $panel-color;
	text-align: center;

	@media #{$break-3} {
		margin-top: 80px;
	}

	.fa {
		font-size: $xl-font;
	}

	.fine-print {
		margin-top: 10px;
		line-height: 1.3;
		color: $lighter-color;
	}
}
