
// breakpoints

$break-1:			"(min-width: 400px)";	// show category
$break-2:			"(min-width: 500px)";	// inline countdown icon
$break-3:			"(min-width: 800px)";	// make things bigger, more whitespace, 2 card columns
$break-4:			"(min-width: 1500px)";	// 4 card columns

// colors

$bg-color:			#ebf5f7;
$panel-color:		#fff;
$accent-color:		#eba544;
$hover-color:		darken($accent-color, 10%);
$default-color:		#5d7075;
$lighter-color:		#99bac2;

// styles

@import url(http://fonts.googleapis.com/css?family=Dosis:600,700|Lato:400,700);

*, *::before, *::after {
	box-sizing: border-box;
}

.for-screen-reader {
	position: absolute;
	left: -99999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

body {
	margin: 20px 5% 40px;
	line-height: 1;
	font-family: 'Lato', sans-serif;
	color: $default-color;
	background-color: $bg-color;
}

a {
	text-decoration: none;
	color: $accent-color;
	transition: color .25s;

	&:hover {
		color: $hover-color;
	}
}

h1, h2, h3 {
	margin: 0;
	line-height: 1.2;
	font-family: 'Dosis', sans-serif;
}

h1 {
	margin-top: 10px;
	font-size: 2.7rem;

	@media #{$break-3} {
		font-size: 3.9rem;
	}
}

h2 {
	font-size: 1.8rem;

	@media #{$break-3} {
		font-size: 2.2rem;
	}
}

h3 {
	font-size: 1.4rem;
	font-weight: 600;

	@media #{$break-3} {
		font-size: 1.5rem;
	}
}

header {
	text-align: center;
}

.logo {
	display: inline-block;
	margin: -60px -100px;
	padding: 60px 100px;
	border-radius: 50%;
	background: radial-gradient(ellipse closest-side, $panel-color 70%, $bg-color);

	@media #{$break-3} {
		margin: -80px -130px;
		padding: 80px 130px;
	}

	svg {
		width: 90px;
		height: 114px; // safari doesn't auto-scale height

		@media #{$break-3} {
			width: 130px;
			height: 164px;
		}
	}

	.fish-wrap {
		animation: fish-flip 19s infinite;
	}

	.fish {
		animation: fish-bob 7s infinite;
	}

	.pupil {
		animation: fish-look 11s infinite;
	}
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;

	@media #{$break-3} {
		margin-top: 0;
	}

	& > * {
		flex: none;
		white-space: nowrap;
	}

	h2 {
		order: 2;
	}

	.prev {
		order: 1;
		text-align: left;
	}

	.next {
		order: 3;
		text-align: right;
	}

	.fa {
		font-size: 1.8rem;

		@media #{$break-3} {
			font-size: 2.2rem;
		}
	}
}

main {
	margin-top: 20px;
	border-top: dashed 1px $lighter-color;
}

.announcement {
	margin-top: 20px;
	line-height: 1.3;
	text-align: center;
	font-size: 1.2rem;

	@media #{$break-3} {
		margin-top: 30px;
		font-size: 1.4rem;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px -10px -10px;

	@media #{$break-3} {
		margin-top: 20px;
	}

	article {
		box-sizing: content-box; // IE doesn't respect border-box with flex-basis
		flex: none; // IE can't parse calc() within flex shorthand
		flex-basis: calc(100% - 60px); // math using content-box
		margin: 10px;
		padding: 20px;
		border-top: solid 1px $lighter-color;
		border-radius: 0 0 10px 10px;
		background-color: $panel-color;
		cursor: pointer;

		@media #{$break-3} {
			flex-basis: calc(50% - 60px); // math using content-box
		}

		@media #{$break-4} {
			flex-basis: calc(25% - 60px); // math using content-box
		}
	}

	.info {
		color: $lighter-color;

		&::after {
			display: block;
			clear: both;
			content: '';
		}
	}

	.fa {
		margin-right: 8px;
		transform: scale(1.3);
		transform-origin: 0;
	}

	.category {
		display: none;

		@media #{$break-1} {
			display: inline;
			padding-right: 10px;
		}
	}

	.author {
		float: right;

		a {
			margin: -10px;
			padding: 10px;
		}
	}

	h3 {
		margin-top: 10px;
		padding-top: 10px;
		border-top: dashed 1px $lighter-color;
	}

	.blurb {
		margin-top: 10px;
		line-height: 1.3;
	}
}

.notice {
	margin-top: 30px;
	padding: 20px 10px;
	border-radius: 10px;
	line-height: 1.3;
	text-align: center;
	font-size: 1.4rem;
	background-color: $panel-color;

	@media #{$break-3} {
		font-size: 1.7rem;
	}
}

.countdown {
	margin-top: 30px;
	line-height: 1.3;
	text-align: center;
	font-size: 1.2rem;

	@media #{$break-2} {
		& > * {
			vertical-align: middle;
			line-height: .7;
		}
	}

	@media #{$break-3} {
		margin-top: 40px;
		font-size: 1.4rem;
	}

	.fa {
		display: block;
		font-size: 2.3rem;

		@media #{$break-2} {
			display: inline;
			margin-right: 6px;
		}
	}

	.time {
		font-weight: 700;
	}
}

footer {
	margin-top: 60px;
	padding-top: 20px;
	border-top: dashed 1px $lighter-color;
	text-align: center;

	@media #{$break-3} {
		margin-top: 80px;
	}

	.fa {
		font-size: 2.5rem;
	}

	.fine-print {
		margin-top: 10px;
		line-height: 1.4;
		color: $lighter-color;
	}
}

// animation keyframes

@keyframes fish-flip {
	66% {
		transform: translateX(0px) scaleX(1);
	}
	70% {
		transform: translateX(80px) scaleX(-1);
	}
	96% {
		transform: translateX(80px) scaleX(-1);
	}
}

@keyframes fish-bob {
	0% {
		transform: translateY(-4px) rotate(.001deg); // rotate forces firefox to use sub-pixel rendering
	}
	50% {
		transform: translateY(3px) rotate(.001deg);
	}
	100% {
		transform: translateY(-4px) rotate(.001deg);
	}
}

@keyframes fish-look {
	50% {
		transform: translate(1px, 2px);
	}
	80% {
		transform: translate(1px, -3px);
	}
}
