$accent-color: #5F9F9F;

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 40px 5%;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	line-height: 1;
	color: #333;
	background-color: #f4f4f4;
}

a {
	text-decoration: none;
	color: $accent-color;

	&:hover {
		text-decoration: underline;
	}
}

h1, h2, h3 {
	margin: 0;
	line-height: 1.2;
	font-weight: normal;
}

h1 {
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.5rem;
}

header {
	margin-bottom: 40px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	font-size: 1.5rem;

	& > * {
	}

	h2 {
		order: 2;
	}

	.prev {
		order: 1;
		flex-grow: 1;
	}

	.next {
		order: 3;
		flex-grow: 1;
		text-align: right;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -10px;

	article {
		flex-basis: calc(33.333% - 20px);
		margin: 10px;
		padding: 20px;
		border-top: solid 4px #ccc;
		border-radius: 0 0 6px 6px;
		color: #666;
		background-color: #fff;
	}

	h3 {
		margin-bottom: 10px;
	}

	.info {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: dashed 1px #ccc;
		color: #ccc;
	}

	.author {
		float: right;
	}

	.blurb {
		line-height: 1.2;
	}

	.author {
		float: right;
	}
}
